.addLangBtn {
  padding: 8px 16px;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  margin-bottom: 16px;
}

.langSelect {
  padding-bottom: 16px;
}

.langSelect span {
  padding-right: 16px;
}

.addLangBtn {
  padding: 8px 16px;
  background: #050505;
  color: white;
  cursor: pointer;
}
