.title h3{
    font-size: 16px;
    font-weight: 700;
    margin-left: 1rem;
}

.carouselItem{
    margin: 8px;
    width: 100%;
    height: 270px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.carouselItem:hover{
    transition: 3px;
}
.carouselItem> .img{
    height: 50%;
    width: 100%;
}
.carouselItem> .img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.carouselItem> .content > h5{
    margin: 8px 16px;
    font-weight: 900;
}
.carouselItem> .content > ul{
    width: 80%;
    padding-left: 1rem;
}
.carouselItem> .content > ul >li{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: circle;
}
.tourdetail{
    width: 6rem;
    font-size: 10px;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 16px;
    text-align: center;
    margin-left: 1rem;
}
.tourdetail:hover {
    border: 1px solid rgb(192, 188, 188);
    background-color: aliceblue;
}
.container{
    width: 100%;
}
.placeholder {
    background: var(--skeleton-color);
    height: 110px;
  }