.slick-next.slick-disabled,
.slick-prev.slick-disabled {
  display: none !important;
}

.slick-prev::before,
.slick-next::before {
  display: none !important;
  /* font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #b9b4b4;
  -webkit-font-smoothing: antialiased; */
}

/* .containerHome.slick-arrow::before {
  display: none;
} */

.slick-initialized .slick-slide {
  /* padding: 0px 8px 0px 8px; */
  /* display: block; */
}

.slick-next {
  right: -7px;
}

.slick-prev {
  left: -7px;
}

.containerHome .slick-arrow {
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 0.5px solid rgb(167, 166, 166);
}
.containerHome .slick-next svg {
  stroke-width: 3;
  color: black;
  width: 17px;
}
.containerHome .slick-prev svg {
  stroke-width: 3;
  color: black;
  width: 17px;
}

/* ========== */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-delay: 10ms;
}
