.title{
    font-size: 17px;
    padding-left: 5px;
    font-weight: 600;
    width: 50%;
    display:inline-table
}
.search{
    width: 50%;
    text-align: right;
    display:inline-table;
    padding-right:8px ;
}
.search_container{
    width: max-content;
    background-color: rgba(239,243,246,255);
    height: 36px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}
.search_container select{
    width: 30%;
    margin-right: 5px;
    border: none;
    font-size: 16px;
    background-color: rgba(239,243,246,255);
}
.search_container input{
    width: 60%;
    padding-left: 5px;
    border: none;
    font-size: 16px;
    border-left: 1px solid;
    background-color: rgba(239,243,246,255);
}
.svg{
    width: 16px;
    display: inline-table;
    background-color: rgba(239,243,246,255);
}
.slider{
    margin-top: 16px;
}