.tourInfo .nav-tabs .nav-link.active {
  /* border: 1px solid #ccc; */
  /* border-bottom: none; */
}

.tourInfo .nav.nav-tabs {
  margin-bottom: 0 !important;
  margin-right: 5px;
}

.tourInfo .nav-tabs {
  flex-wrap: nowrap;
}
li.nav-item {
  margin-right: 2px;
}
@media only screen and (max-width: 500px) {
  .tourInfo .nav-link {
    color: #050505;
    padding: 8px;
    font-size: 12px;
    border: 1px solid rgb(234, 234, 234);
  }
  .TourInfo_itinerary__Jssul ul {
    margin: 0;
    list-style: disc inside;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: -32px;
  }
  .quillReader {
    margin-left: 14px;
  }
}
@media only screen and (min-width: 501px) {
  .tourInfo .nav-link {
    color: #050505;
    border: 1px solid rgb(234, 234, 234);
    padding: 11px 55px;
    font-size: 16px;
  }
}
