.container {
  margin-bottom: 32px;
}

.container input,
.container textarea {
  width: 100%;
  padding: 6px;
  background: white;
}
.container textarea {
  min-height: 100px;
}

.label {
  margin-bottom: 2px;
  font-weight: 500;
}

.label svg {
  width: 15px;
  color: rgb(209, 58, 58);
}

.editor > * {
  background: white;
}

.errorMessage h6 {
  font-weight: 400;
  font-size: 13px;
  color: rgb(209, 58, 58);
  padding-top: 2px;
}
