

@media screen and (max-width:600px) {
   
    .article__list .container__header {
        width: 100%;
        margin: 15px 0px 12px 0px;
        padding: 0px 0px;
    }

    .article__list .container__Slider {
        margin-bottom: 15px;
        padding: 0px 0px;
    }
}

@media screen and (min-width:600px) {
    .article__list {
        width: 100%;
        margin: 30px auto 26px auto;
        padding: 0px 0px;
    }
    .article__list .container__Slider {
        width: 100%;
        margin-bottom: 26px;
        padding: 0px 0px;
    }
}

@media screen and (min-width:1024px) {
    .article__list {
            width: 100%;
            margin: 50px auto 44px auto;
            padding: 0px;
        }
    .article__list .container__Slider {
        width: 100%;
        margin-bottom: 43px;
        padding: 0px;
    }
}
