.textForm input {
  padding: 6px 8px;
  margin-bottom: 8px;
  display: block;
}

.textForm button {
  background: var(--main-color);
  color: white;
  padding: 6px 16px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.textForm button:active {
  font-size: 13px;
}

.container table {
  margin: 32px 0;
  border-collapse: collapse;
}

.container td,
.container th {
  border: 0.5px solid #ccc;
  padding: 3.8px 8px;
}

.catGroup {
  border-bottom: 1px solid #050505;
  margin-bottom: 24px;
}

.catGroup ul {
  display: flex;
  gap: 16px;
  padding: 0;
}

.catGroup ul li {
  border: 1px solid #050505;
  padding: 2px 6px;
}
