.plan label {
  display: block;
  margin-bottom: 16px;
}

.plan label h6 {
  margin-bottom: 3px;
}

.plan label input {
  padding: 6px 8px;
  width: 100%;
  background: rgb(241, 245, 242);
  border: 1px solid rgb(125, 184, 125);
}

.editor > * {
  background: white;
}

.planItem {
  margin-bottom: 32px;
  border-bottom: 2px solid #ccc;
  padding: 36px;
  background: white;
  position: relative;
  box-shadow: var(--box-shadow);
}

.previewImages {
  display: flex;
  gap: 8px;
  padding-bottom: 32px;
}

.previewImages .image {
  max-width: 300px;
}

.previewImages .image img {
  width: 100%;
}

.toggleBtn {
  background: rgb(23, 155, 62);
  position: absolute;
  top: 0;
  right: 0;
}

.toggleBtn svg {
  width: 20px;
  color: white;
}
