html {
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  font-family: "Roboto", sans-serif !important;
  font-size: inherit;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid #ccc;
}

button {
  border: none;
}

ul {
  list-style-type: none;
}

a:active {
  color: inherit;
}
