/* .tourCarousel__container {
  width: 50%;
  height: 250px;
  position: relative;
} */

#tourCarousel__container1 {
  width: 50%;
  height: 250px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  /* display: contents;  */
}
.tourCarousel__container .slick-slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.tourCarousel__container .slick-arrow {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
  height: 40px;
}

.tourCarousel__container .slick-arrow::before {
  font-size: 40px;
  text-shadow: var(--box-shadow);
  color: white;
}

.tourCarousel__container .slick-arrow.slick-next {
  right: 4px;
}

.tourCarousel__container .slick-arrow.slick-prev {
  left: 4px;
}

.tourCarousel__container .slick-slide {
  opacity: 0.6;
}

.tourCarousel__container .slick-slide.slick-active {
  opacity: 1;
}

.tourCarousel__container .slick-initialized .slick-slide {
  padding: 0px 2px 0px 2px;
}

.TourCarousellichtrinh_image__sP1kb img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #fff !important ;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

@media only screen and (max-width: 500px) {
  .tourCarousel__container .slick-arrow::before {
    font-size: 22px;
    text-shadow: var(--box-shadow);
    color: white;
  }
  #tourCarousel__container1 .slick-slider {
    top: 0;

    right: 0;
    bottom: 0;
    width: 81vw;
    left: -55px;
    position: absolute;
  }
}
.tourCarousel__container .slick-slider {
  top: 0;

  right: 0;
  bottom: 0;
  /* width: 81vw; */
  left: 0;
  position: absolute;
}
