.modalBtn {
  margin: 0 auto;
  height: 40px;
  background: var(--main-color);
  color: white;
  padding: 0 16px;
  border-radius: 3.6px;
}

.modalImage {
  width: 96px;
  margin: 0 auto;
}

.modalImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modalTourName {
  text-align: center;
  margin-top: 6px;
  font-weight: 500;
  font-size: 17px;
  color: rgb(85, 85, 85);
  text-transform: capitalize;
}
.modalStars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalStars svg {
  width: 25px;
  margin: 0 auto;
  color: rgb(239, 165, 29);
}

.textarea {
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
  height: 50px;
  padding: 6px;
  margin: 8px 0;
}

/* ============== file input ===========  */
.fileInput input {
  width: 0;
  height: 0;
}

.filePlaceholder svg {
  width: 22px;
  color: var(--main-color);
}

.filePlaceholder {
  display: flex;
  align-items: center;
  padding: 6px 0;
  max-width: 300px;
  cursor: pointer;
}

.filePlaceholder span {
  padding: 0 6px;
}

.filePlaceholder span:first-of-type {
  color: var(--main-color);
}

.filePlaceholder span:last-of-type {
  color: rgb(119, 119, 119);
}

/* ============= text fields ===============  */
.textField {
  margin-top: 8px;
}

.textField input,
.textField textarea {
  padding: 6px;
  width: 100%;
}

.textField p {
  font-size: 13px;
  color: rgb(232, 0, 0);
}
