@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: flex-end;
  }
}

.offcanvas {
  width: auto !important;
  padding-right: 16px;
}

div.dropdown-menu.show {
  background: white;
  box-shadow: var(--box-shadow);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-item:active {
  background-color: rgb(216, 245, 245) !important;
}

.nav-item:last-of-type {
  padding-right: 8px;
}

#container-navbar .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 6px;
  font-size: 13px;
}

#navbar {
  padding-top: 16px;
}
@media screen and (max-width: 991px)  {
  .nav-bar-offcanvat {
    text-align: center;
  }
}
