.container__pagination{
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.container__pagination span{
    
    font-size: 12px;
    padding: 5px 5px;
}
.container__pagination .button__number{
    font-size: 12px;
    width: 42px;
    height: 27px;
    border-radius: 3px;
    background-color: white;
    border: 0.5px solid rgb(163, 163, 163);
}
.container__pagination #chevronLeft,
.container__pagination #chevronRight{
    width: 22px;
    height: 27px;
    color: black;
    stroke-width: 3;
    background-color: rgba(227, 233, 237, 255);
    
}
.container__pagination #chevronRight{
    border-left: 0.5px solid rgb(105, 105, 105); 
}
.container__pagination #chevronLeft svg,
.container__pagination #chevronRight svg{
    width: 12px;
    color: black;
    stroke-width: 3;
}

.color__button__disable{
    
    background-color: rgba(243, 246, 247, 255) !important;
}
.container__pagination #chevronLeft.color__button__disable svg,
.container__pagination #chevronRight.color__button__disable svg {
    color:rgb(156, 156, 156) !important;
}
/* color disible rgba(243, 246, 247, 255) color active rgba(227, 233, 237, 255) */