.form-control {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.form-tour * {
  font-size: 1rem;
  padding: 5px;
}
.form-tour > div > div > input {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 3.8px;
}

.form-tour > p {
  text-transform: uppercase;
  background: #050505;
  border-radius: 3.8px;
  color: white;

  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.form-tour > input {
  border: 1px solid #ccc;
  border-radius: 3.8px;
  width: 100%;
}
.form-title {
  text-transform: uppercase;
  background: #050505;
  color: white;
}

.mfp-close {
  cursor: pointer;
  outline: none;
  z-index: 1555;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: fixed;
  top: 0;
  right: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0;
  padding: 0;
  mix-blend-mode: difference;
  margin: 0 !important;
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  min-height: 0;
  width: 40px;
  -webkit-backface-visibility: hidden;
  height: 40px;
  line-height: 40px;
  font-family: Arial, monospace;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  -o-transition: opacity 0.6s, transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
  transition: opacity 0.6s, transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: translateY(50%) translateZ(1px);
  transform: translateY(50%) translateZ(1px);
}

.large-4 {
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
}
.form-label-input {
  display: block;
}
.input {
  display: inline;
  margin-right: 5px;
  margin-left: 7px;
  font-size: 16px;
}
.form-button {
  background: #050505;
  padding: 8px 16px;
  border-radius: 3.8px;
  color: #fff;
  margin-top: 8px;
}

p.form-label-input {
  margin-bottom: 2px;
  padding-bottom: 0;
  font-size: 14px;
}
