.review {
  font-size: 15px;
  line-height: 1.6;
}

.review svg {
  width: 16px;
  color: orange;
}

.review .title {
  font-size: 20px;
}

/* ============ overview ===========  */
.overview {
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

/* =============== average rating =============  */
.averageRating {
  text-align: center;
}

.averageRating p:nth-of-type(1) {
  margin: 0;
  margin-bottom: 3px;
}

.averageRating p:nth-of-type(2) {
  font-size: 48px;
  color: var(--main-color);
  margin: 0;
  line-height: 1;
  font-weight: 500;
}

.averageRating p:last-of-type {
  color: rgb(119, 119, 119);
  font-size: 14px;
  margin-top: 6px;
}

/* =============== stats ===============  */
.statsItem {
  display: flex;
  align-items: center;
}

.statsItem > * {
  margin-right: 3.6px;
}

.statsItem span:last-of-type {
  width: 20px;
}

.bar {
  flex: 1;
  height: 10px;
  background: #ccc;
  position: relative;
  border-radius: 999px;
  overflow: hidden;
}

.barInner {
  background: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/* ============= send review ==========  */
.sendReview {
  text-align: center;
}

.sendReview button {
  height: 40px;
  padding: 0 16px;
  color: white;
  background: var(--main-color);
  border-radius: 6px;
}

/* ============== filter bar ============  */
.filterBar {
  padding: 8px 16px;
  background: rgb(247, 247, 247);
}

.filterBar button {
  background: transparent;
  border: 1px solid #ccc;
  margin-left: 16px;
  border-radius: 8px;
  padding: 4px 8px;
  color: rgb(96, 96, 96);
  transition: 0.2s;
}

.filterBar button:hover {
  background: rgb(212, 212, 212);
}

.filterBar button svg {
  color: var(--main-color);
  font-weight: 700;
  stroke-width: 3;
  width: 0;
  transition: 0.2s;
}

.filterBar button.active,
.filterBar button.active svg {
  color: white;
  background: var(--main-color);
}

.filterBar button.active {
  border: 1px solid var(--main-color);
}

.filterBar button.active svg {
  width: 15px;
}

.filterBar button.active:hover,
.filterBar button.active:hover svg {
  background: transparent;
  color: var(--main-color);
}

.filterBar button.active:hover {
  border: 1px solid var(--main-color);
}

/* =========== review item ============== */
.reviewItem {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.reviewUsername {
  margin: 0;
  font-weight: 600;
}

.reviewContent {
  margin-top: 8px;
  margin-bottom: 8px;
}

.reviewContent p {
  margin: 0;
}

.reviewItem button,
.reviewItem button svg {
  background: transparent;
  color: var(--main-color);
}

.reviewItem button svg {
  margin-bottom: 2px;
  margin-right: -1px;
}

/* ============ pagination ===============  */
.pagination {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}
