.containerHome {
    width: 100%;
    /* max-width: 1500px; */
    margin-bottom:  43px  ;
    /* padding: 0px 20px !important; */
    /* margin: auto; */
  }
.containerHomeabout{
  width: 100%;
    /* max-width: 1500px; */
    margin-bottom:  43px ;
    /* margin: auto; */
}
   /* .hearder_hearder__aB9Dl {
    margin-top: 16px;
    width: 100%;
   } */


@media screen and (max-width:600px) {
  .containerHomeabout {
    margin-bottom: 18px
  }
}

@media screen and (min-width:600px) {
  .containerHomeabout {
    margin-bottom: 26px
  }
}

@media screen and (min-width:1024px) {
  .containerHomeabout {
    margin-bottom: 43px
  }
}

