.editPost input {
  margin-bottom: 8px;
  padding: 6px 8px;
  display: block;
}

.editPost button {
  background: var(--main-color);
  color: white;
  margin-bottom: 16px;
  display: block;
}

.editPost img {
  display: block;
}
