.title {
  background: #4f5dd3;
  padding: 6px;
  color: white;
}

.title input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px;
}

.title input::placeholder {
  color: white;
  font-weight: 400;
}
