.container {
  padding-bottom: 30px;
}

.currentImages {
  border-top: 1px solid #ccc;
  padding-top: 16px;
  margin-top: 32px;
}

.currentImages h6 {
  padding-top: 16px;
}

.preview {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #ccc;
}

.preview label {
  display: block;
  width: 150px;
}

.preview label img {
  width: 100%;
}

/* ========== submit btn ==========  */
.submitBtn {
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  background: #131b2a;
  margin-top: 24px;
  border-radius: 3.8px;
}
