.container {
  padding-bottom: 30px;
}

.title {
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid #131b2a;
  padding-bottom: 6px;
  width: 50%;
  margin: 32px auto 16px;
  color: #131b2a;
  font-weight: 600;
}

.currentImages {
  padding-top: 16px;
  margin-top: -32px;
}

.preview label {
  display: block;
  width: 150px;
}

.preview label img {
  width: 100%;
}

.submitBtn {
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  background: #131b2a;
  margin-top: 24px;
  border-radius: 3.8px;
}
