@import url("http://fonts.cdnfonts.com/css/utm-avo");

.travelHandbookDetail {
  display: flex;
}

.contact {
  background: #2d9ad9;
  padding: 10px;
  width: 290px;
  margin-bottom: 1.5em;
}

.contact .slogan {
  color: white;
  padding: 5px 0px;
  margin: 0;
  font-family: "UTM Avo", sans-serif !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.contact .phoneNumber {
  width: 100%;
}

.contact .phoneNumber img {
  width: 100%;
}

.contact button {
  width: 100%;
  background: #ff9729 !important;
  color: #fff;
  border: none;
}
