.tours {
  overflow: auto;
  width: 100%;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #1e8553;
  color: rgb(241, 230, 230);
  padding: 6px;
}

.tours table tr {
  margin-bottom: 2px;
}

.tours table td,
.tours table tr {
  border: 0.5px solid #1e8553;
}

.tours table td {
  background: white;
  margin-bottom: 2px;
}

.table thead div {
  padding: 2px 6px;
  font-weight: 600;
  position: relative;
}

.table th {
  position: relative;
}

.table th:not(:last-of-type)::after {
  position: absolute;
  display: block;
  content: "";
  height: 70%;
  width: 1px;
  background: rgb(238, 234, 234);
  right: 0;
  top: 50%;
  transform: translate(0.5px, -50%);
  z-index: 2;
}

.table tbody div {
  padding: 3px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
}

.table tbody .actionBtns {
  max-width: 1000px !important;
}

/* ============ buttons ==========  */
.actionBtns {
  display: flex;
  align-items: center;
  padding: 2px;
}

.table button,
.table a {
  border: none;
  outline: none;
  margin-right: 8px;
  min-width: 70px;
  text-align: center;
  border-radius: 3.8px;
  display: block;
  line-height: 1.6;
}

.actionBtns > * {
  padding: 4px 8px;
  color: rgb(244, 237, 237);
  transition: 0.2s;
  font-weight: 300;
}

.actionBtns > *:hover {
  color: white;
}

.editBtn {
  background: #1e8553;
}

.editBtn:hover {
  background: #259961;
}

.removeTourBtn {
  background: rgb(166 64 64);
}

.removeTourBtn:hover {
  background: rgb(184, 75, 75);
}

.editItineraryBtn {
  background: rgb(68 70 82);
}

.editItineraryBtn:hover {
  background: rgb(83, 86, 98);
}

.noTours {
  font-size: 18px;
}

/* =================== pagination ====================  */
.pagination {
  display: flex;
  padding: 0;
}

.pagination a {
  display: block;
  border: 1px solid #050505;
  padding: 6px 8px;
  margin: 8px;
  cursor: pointer;
}
