.lp-slideshow,
.lp-slideshow * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.lp-slideshow {
  width: 100%;
}

.lp-slideshow > .containe {
  position: relative;
  margin: auto;
  width: 100%;
}

.lp-slideshow > .containe > .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  opacity: 0;
  transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
}

.lp-slideshow > .containe > .slide.active {
  opacity: 1;
}

.lp-slideshow > .containe > .slide > .imageslide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lp-slideshow > .containe > .slide > .number-text {
  color: #fff;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.lp-slideshow > .containe > .slide > .caption-text {
  color: #fff;
  font-size: 1.3rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.lp-slideshow > .containe > .prev,
.lp-slideshow > .containe > .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: bold;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
}

.lp-slideshow:hover > .containe > .prev,
.lp-slideshow:hover > .containe > .next {
  background-color: rgba(0, 0, 0, 0.2);
}

.lp-slideshow:hover > .containe > .prev:hover,
.lp-slideshow:hover > .containe > .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.lp-slideshow > .containe > .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.lp-slideshow > .containe > .prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.lp-slideshow > .dot-container {
  text-align: center;
  margin: 1rem auto;
}

.lp-slideshow > .dot-container > .dot {
  height: 50%;
  width: 23%;
  margin: 0 0.4rem;
  opacity: 0.7;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
}

.lp-slideshow > .dot-container > .dot.active,
.lp-slideshow > .dot-container > .dot:hover {
  opacity: 1;
}

.lp-slideshow > .dot-container > .dot:not(.active):hover {
  cursor: pointer;
}
.image-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.lp-modal-image,
.lp-modal-image * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.lp-modal-image {
  width: 100%;
}

/* .lp-modal-image > .image {
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
} */

.lp-modal-image > .imageslide:hover {
  opacity: 0.7;
  cursor: pointer;
}

.lp-modal-image > .modalslide {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.lp-modal-image > .modalslide > .modal-conten {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 780px;
}

.lp-modal-image > .modalslide > .caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 780px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.lp-modal-image > .modalslide > .next:hover {
  cursor: pointer;
  color: black;
}
.lp-modal-image > .modalslide > .next {
  top: 50%;
  position: absolute;
  font-size: 30px;
  color: gray;
  right: 10px;
  border-radius: 3px 0 0 3px;
}
.lp-modal-image > .modalslide > .prev:hover {
  cursor: pointer;
  color: black;
}
.lp-modal-image > .modalslide > .prev {
  top: 50%;
  position: absolute;
  font-size: 30px;
  color: gray;
  left: 10px;
  border-radius: 3px 0 0 3px;
}

.lp-modal-image > .modalslide > .modal-conten,
.lp-modal-image > .modalslide > .caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.lp-modal-image > .modalslide > .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 55px;
  font-weight: bold;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.lp-modal-image > .modalslide > .close:hover,
.lp-modal-image > .modalslide > .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 780px) {
  .lp-modal-image > .modalslide > .modal-conten {
    width: 100%;
  }
}
