.top {
  display: flex;
  gap: 8px;
}

.carousel {
  flex: 3;
  margin-bottom: 16px;
}

.contactTable {
  flex: 1;
}

@media screen and (max-width: 850px) {
  .top {
    flex-direction: column;
  }
}
