.footer {
  background: #000;
  color: rgb(239, 239, 239);
  padding: 16px 0px 16px 43px;
}
.footer >div>div{
  max-width: 1500px;
  margin: auto;
}
.footer >div>div{
  margin-top: 8px;
}
.footer >div>div>div>li>span{
  font-weight: 600;
}
.footer >div>div>ul>div>li>span{
  font-weight: 600;
}
.footer >div>div>li>i{
  width: 17px;
  font-size: 15px;
}
.footer p {
  animation-name: example;
  text-align: center;
  animation-duration: 68s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}

.footer_colum{
 
  display:inline-table;
  list-style-type: none;
}