.newposts{
    padding:10px
}
.newposts *{
    font-size: 1.5rem;
}
.newposts h1{
   font-weight: 700;
}
.newposts-editor{
    border-radius: 5px;
}
.newposts input{
    width: 100%;
}
.newposts button{
    margin-top: 1em;
}
.newposts > label{
    display:block;
    margin-top: 1em;
    margin-bottom: 0.5em;

}
