.container form {
  margin-top: 24px;
}

.container label {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

.container label h6 {
  margin-bottom: 3.8px;
}

.container label h6 em {
  color: #777;
  font-weight: 400;
  font-size: 14px;
}

.container label input {
  width: 100%;
  padding: 6px 8px;
}

.container button {
  padding: 8px 16px;
  background: #050505;
  color: white;
  cursor: pointer;
}
